.toolbar{
    text-align: center;
    padding-bottom: .05rem;
}

.covid{
    color: black;
    margin-top: 6px;
    margin-bottom: 0;
}

.tracker{
    color: rebeccapurple;
    font-size: 1.1rem;
    margin: 0;
}

.p{
    font-weight: 700;
    padding: 0.5rem;
    margin: 0;
    font-size: 1.5rem;
    padding-right: 4rem;
}

@media screen and (max-width: 585px){
    .p{
        padding-right: 1.23rem;
    }

    .toolbar{
        display: flex;
        justify-content: space-between;
        width: 35rem;
    }
}

@media screen and (min-width: 585px){
    .tracker{
        margin-left: 3.3rem;
    }
}


