.div{
    margin-left: 0.4rem;
    margin-right: 0.4rem;
}

.table{
    color: rgba(0, 0, 0, 0.58);
    margin: auto;
    width: 70%;
    margin-bottom: 2rem;
    border-spacing: 0.18rem;
}

.th{
    /*padding-inline-end: 1.5rem;*/
    /*padding-inline-start: .5rem;*/
    padding: 0.15rem;
    /*border: solid 1px #808080ad;*/
    background: #808080ad;
    padding-top: 0.5rem;
    padding-bottom: 0.4rem;
    border-radius: 6px;
    font-weight: bold;
}

.th:nth-of-type(2){
    color: red;
}

.th:nth-of-type(3){
    color: blue;
}

.th:nth-of-type(4){
    color: green;
}



/*@media screen and (min-width: 926px) {*/
/*    .table{*/
/*        width: 45rem;*/
/*    }*/
/*}*/

@media screen and (max-width: 764px){
    .table{
        width: 100%;
    }
}

/*----------------------------*/

.delta{
    font-size: 11px;
    display: inline-block;
}

.confirmed{
    color:red;
}

.recovered{
    color: green;
}

.td
{
    text-align: right;
    font-size: .9rem;
    padding: .25rem;
    border-radius: 6px;
    /*white-space: pre;*/
}

.data{
    padding: .25rem;
    border-radius: 6px;
    padding-left: 0.75rem;
    padding-bottom: 0.25rem;
}

/*.tr:nth-child(2n-1) .td{*/
/*    border: solid 1px #d9d4d7;*/
/*    background-color: white;*/
/*}*/
/*.tr:nth-child(2n-1) .data{*/
/*    border: solid 1px #d9d4d7;*/
/*    background-color: white;*/
/*}*/

.tr:nth-child(2n){
    border: solid 1px #dcdcdc;
    background-color: #dcdcdc;
}

.tr:nth-child(2n-1){
    background-color: #f0f0f0;
    border: solid 1px #f0f0f0;
}
/*.tr:nth-child(2n){*/
/*    border: solid 1px #dcdcdc;*/
/*    background-color: #d9ddcdcdc4d7;*/
/*}*/

.tr:hover{
    background-color: #bababa;
}

@media screen and (max-width: 764px){
    .delta{
        display: block;
    }
}

.confirmed{

}

