.stats{
    padding: 0.5rem;
    border-radius: 15px;
    /*width: 25%;*/
    margin: 0.4rem;
    border: 4px solid;
    text-align: center;
}

.stats:nth-child(1){
    color: red;
    order: 1;
    background: #ff000029;
    margin-left: 0.4rem;
    border-color: red;
    grid-area: one;
}

.stats:nth-child(2){
    color: blue;
    order: 2;
    background: #0000ff38;
    border-color: blue;
    grid-area: two;
}

.stats:nth-child(3){
    color: green;
    order: 3;
    background: #00800045;
    border-color: green;
    grid-area: three;
    margin-left: 0.4rem;
}

.stats:nth-child(4){
    color: grey;
    order: 4;
    background: #80808061;
    border-color: grey;
    grid-area: four;
}
