.stats{
    padding: 0.5rem;
    border-radius: 15px;
    width: 25%;
    margin: 0.4rem;
    border: 4px solid;
}

.stats:nth-child(1){
    color: red;
    order: 1;
    background: #ff000029;
    margin-left: 0.8rem;
    border-color: red;
}

.stats:nth-child(2){
    color: blue;
    order: 2;
    background: #0000ff38;
    border-color: blue;
}

.stats:nth-child(3){
    color: green;
    order: 3;
    background: #00800045;
    border-color: green;
}

.stats:nth-child(4){
    color: grey;
    order: 4;
    background: #80808061;
    margin-right: 0.8rem;
    border-color: grey;
}
