.total{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /*justify-content: space-evenly;*/
    /*align-items: stretch;*/
    /*min-width: 360px;*/
    width: 70%;
    letter-spacing: 0.05rem;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    grid-template-areas:
    "one two three four";
}

@media screen and (max-width: 764px){
    .total{
        width: 100%;
    }
}

@media screen and (max-width: 559px){
    .total{
        grid-template-areas:
        "one one two two"
        "three three four four";
    }
}

