.div{
    margin-left: 0.4rem;
    margin-right: 0.4rem;
}

.table{
    color: rgba(0, 0, 0, 0.58);
    margin: auto;
    width: 70%;
    margin-top: 1rem;
    margin-bottom: 2rem;
    border-spacing: 0.18rem;
}

/*.td{*/
/*    !*padding-inline-end: 1.5rem;*!*/
/*    !*padding-inline-start: .5rem;*!*/
/*    padding: 0.15rem;*/
/*    border: solid 1px #808080;*/
/*    background: #808080;*/
/*    padding-top: 0.5rem;*/
/*    padding-bottom: 0.4rem;*/
/*    border-radius: 6px;*/

/*}*/

.tdhead{
    /*padding-inline-end: 1.5rem;*/
    /*padding-inline-start: .5rem;*/
    padding: 0.15rem;
    background: #808080ad;
    padding-top: 0.5rem;
    padding-bottom: 0.4rem;
    text-align: center;
    border-radius: 6px;
    font-weight: bold;
}

.td2{
    text-align: center;
    font-size: .9rem;
    padding: .25rem;
    border-radius: 6px;
}


.tr:nth-child(2n){
    border: solid 1px #dcdcdc;
    background-color: #dcdcdc;
}

.tr:nth-child(2n-1){
    background-color: #f0f0f0;
    border: solid 1px #f0f0f0;
}

.tr:hover{
    background-color: #bababa;
}



/*@media screen and (min-width: 926px) {*/
/*    .table{*/
/*        width: 45rem;*/
/*    }*/
/*}*/

@media screen and (max-width: 764px){
    .table{
        width: 100%;
    }
    .span{
        display: table-caption;
    }
    .tdhead{
        text-align: left;
    }
}

/*@media screen and (max-width: 575px){*/
/*    .table{*/
/*        width: 25rem;*/
/*    }*/
/*}*/

